		</div>
		<style type="text/css">
			#footer {
				background: rgba(104, 36, 68, 0.98); position:fixed;
			    left:0px;
			    bottom:0px;
			    width:100%;
			}
		</style>
		<footer class="page-footer font-small" id="footer">
			<div class="footer-copyright text-center py-3" style="color:white;">
				<a href="https://www.ipn.mx/nanocentro/"> Centro de Nanociencias y Micro y Nanotecnologías CNMN - IPN </a>
				© 2021    
			</div>
		</footer>
	</body>
</html>