		</div>
		<div class="container" style="margin-top: 90px;"></div>
		<style type="text/css">
			#footer {
				position:fixed;
			    left:0px;
			    bottom:0px;
			    margin-top: 20px;
			    width:100%;
			}
		</style>
		<footer class="page-footer font-small" id="footer">
			<div class="text-center py-3" style="color:#6EA3B4;font-size: 22px;">
				Centro de Nanociencias y Micro y Nanotecnologías CNMN - IPN
				© 2021    
			</div>
		</footer>
	</body>
</html>