<!DOCTYPE hmtml>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="../assets/poli.jpg">
			<title>CNMN</title>
			<link rel="stylesheet"  type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet"  type="text/css" href="../public/assets/datetimepicker/css/bootstrap-datetimepicker.min.css">
			<script src="../jq/jquery.js"></script>
			<script src="../js/bootstrap.min.js"></script>
			<script src="https://kit.fontawesome.com/8d86f52526.js" crossorigin="anonymous"></script>
			<script type="text/javascript" src="../public/assets/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
			<script type="text/javascript" src="../public/assets/datetimepicker/js/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(104, 36, 68, 0.98);">
			<a class="navbar-brand" href="#">
				<img src="../assets/logo-cnmn.png" width="80" height="40" class="d-inline-block align-top" alt="" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
		  	<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Acerca de</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacto</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right ml-auto">
					<li class="nav-item"><a class="nav-link" href="#">Salir</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">