{{> headerSS }}
<h1 class="mt-2 mb-4" style="color:#003653;">Información</h1>
<div class="row justify-content-center">
	<div class="col-10">
		<div class="card mb-3" style="max-width: 900px;">
			<img src="../public/assets/cnmn.jpg" class="card-img-top" alt="https://images.app.goo.gl/gWLntcCGNACCF4kg6" height="300">
			<div class="card-body">					
				<p class="text-justify small">Con la finalidad de registrar y dar seguimiento a las actividades a realizar por parte del personal de Centro de Nanociencias y Micro y Nanotecnologías (CNMN), durante segundo semestre del 2020 y considerando lo establecido por 
					la Dirección General del Instituto Politécnico Nacional debido a la contingencia sanitaria a causa del virus SARS-CoV-2 (COVID19), todas las actividades del CNMN seguirán a distancia, por lo que se creó este sistema, el cual deberá administrarlo el jefe 
					inmediato de los trabajadores, obteniendo un archivo por mes de cada trabajador este deberá entregarse por parte del jefe inmediato dentro de los primeros 5 días hábiles de cada mes a través de correo institucional, al Dr. Cuauhtémoc León Puertos , 
					Subdirector de Micro y Nanotecnologías. Siendo este el medio oficial de comunicación es responsabilidad de todo el personal la veracidad de la información que se envía a través del mismo.
				</p>
				<p class="text-justify small">Sitio realizado por alumnos del servicio social del IPN: José Alfredo Cabrera Reséndiz, Miguel Eduardo Rodriguez Coleote </p>
				<p class="card-text"><small class="text-muted">Última actualización 28/04/2021</small></p>						
			</div>
		</div>
	</div>
</div>
