{{> headerSS }}
<h1  style="color:#003653; margin-top: 90px;">Contacto</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0 mt-2">
					<div class="col-md-4">
						<img src="../public/assets/correo.jpg" alt="..." width="100%" height="209">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Comentarios o sugerencias</h5>
							<p class="card-text">Si surge alguna duda o sugerencia favor de contactar al administrador atraves del correo electronico: cleon@ipn.mx</p>
							<p class="card-text"><small class="text-muted">Última actualización 10/11/2020</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row mt-2">
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Ubicación</h5>
							<p class="card-text">Av. Luis Enrique Erro s/n, Nueva Industrial Vallejo, Gustavo A. Madero, 07738 Ciudad de México, CDMX. <br> Teléfono: 55 5729 6000 </p>
							<p class="card-text"><small class="text-muted">Última actualización 10/11/2020</small></p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="../public/assets/ubicacion.png" alt="https://www.pinterest.com.mx/pin/671106781954928039/" width="100%" height="180">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer }}