{{> header usuario='user' }}	
	<h1 class="mt-3 mb-3" style="color:#003653;">Historial de reportes</h1>
	<div class="row mb-3" id="rowFiltro" style="display: none;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offset-xl-9 col-xl-4">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-filter text-warning"></i></span>
				</div>
				<select class="form-select" aria-label="Default select example" id="filtro">
					<option selected>Seleccione una opción</option>
					<option value="1">Por empleado</option>
					<option value="0">Por folio</option>
				</select>
				<div class="input-group-append">
					<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Seleccione como desea ordenar sus reportes."><i class="far fa-question-circle"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover">
					<thead class="thead-dark  text-white text-center">
						<tr>
							<th width="5%" style="vertical-align:middle;" scope="col">Folio</th>
							<th width="25%" style="vertical-align:middle;" scope="col">Empleado</th>
							<th width="15%" style="vertical-align:middle;" scope="col">Área</th>
							<th width="10%" style="vertical-align:middle;" scope="col">Fecha de Creación</th>
							<th width="20%" style="vertical-align:middle;" scope="col">Periodo reportado</th>			
							<th width="10%" style="vertical-align:middle;" scope="col">Estado del documento</th>
							<th width="15%" style="vertical-align:middle;" scope="col">Opciones</th>					
						</tr>
					</thead>
					<tbody id="body-historial" style="background:white;">
					</tbody>					
				</table>
			</div>
		</div>		
	</div>
<div class="modal" tabindex="-1" id="modalPDF" role="dialog" data-id="">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center"><i class="far fa-eye text fa-2x"></i>&nbsp &nbsp Aviso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<p id="Cuerpo-Modal"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<button type="button" class="btn btn-block btn-success" onclick="aceptar()" id="btn-modal">Aceptar</button>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-block btn-danger" onclick="cancelar()">Cerrar</button>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" id="ObservacionesJefe" role="dialog" data-id="" data-tipo="">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center"><i class="far fa-eye text-info fa-2x"></i>&nbsp Observaciones</h4><h4 class="text-right" id="head-boss"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<textarea id="textJefe" class="form-control" aria-label="With textarea" placeholder="Ingrese las observaciones"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-6">
							<button type="button" class="btn btn-block btn-success" onclick="enviarObservacion();">Actualizar</button>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-block btn-danger" onclick="limpiaObservaciones('1');">Cancelar</button>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" id="ObservacionesEmpleado" role="dialog" data-id="" data-tipo="">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center"><i class="far fa-eye text-info text-info fa-2x"></i>&nbsp Observaciones</h4><h4 class="text-right" id="head-emp"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<textarea id="textEmpleado" class="form-control" aria-label="With textarea" placeholder="Sin observaciones"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<div class="row justify-content-center">
						
						<div class="col-6">
							<button type="button" class="btn btn-block btn-info" onclick="limpiaObservaciones('2');" id="btn-modal">Aceptar</button>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../public/js/historial.js"></script>	
<script type="text/javascript" src="../public/assets/static/jquery-ui.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.plugin.autotable.min.js"></script>
{{> footer }}