{{> header }}	
	<h1 class="mt-3 mb-3" style="color:rgba(104, 36, 68, 0.98);">Historial de reportes</h1>
	<div class="row" >
		<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover">
					<thead class="thead-dark  text-white text-center">
						<tr>
							<th width="5%" style="border-radius: 7px 0 0 0;"scope="col">Folio</th>
							<th width="25%"  scope="col">Empleado</th>
							<th width="15%" scope="col">Área</th>
							<th width="10%" scope="col">Fecha de Creación</th>
							<th width="20%" scope="col">Periodo reportado</th>			
							<th width="10%" scope="col">Estado del documento</th>
							<th width="15%" style="border-radius: 0 7px 0 0;" scope="col">Opciones</th>					
						</tr>
					</thead>
					<tbody id="body-historial">
					</tbody>					
				</table>
			</div>
		</div>		
	</div>
<script type="text/javascript" src="../public/js/historial.js"></script>	
<script type="text/javascript" src="../public/assets/static/jquery-ui.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.plugin.autotable.min.js"></script>
{{> footer }}