{{> headerSS }}
<h1 class="mb-4" style="color:rgba(104, 36, 68, 0.98); margin-top: 90px;">Login CNMN</h1>
<div class="container ">
	<form id="log-in" method="POST"  enctype="multipart/form-data">
		<div class="row justify-content-center">
			<div class="card" style="width: 50rem;">
				<div class="card-header text-center panel-title" style="font-size: 30px;">Ingrese los datos</div>
				<div class="card-body">
					<div class="col-12 ">
						<div class="input-group  mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text maxInput"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="usuario" id="usuario" placeholder="Número de empleado" class="form-control" minlength="1" maxlength="100" required>
							<div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Ingrese su núemro de empleado."><i class="far fa-question-circle"></i></span>
							</div>
						</div>
					</div>
					<div class="col-12 ">
						<div class="input-group  mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text maxInput"><i class="fas fa-address-card"></i></span>
							</div>
							<input type="text" name="curp" id="curp" value="" style="text-transform:uppercase;" placeholder="CURP" class="form-control" minlength="1" maxlength="20" required>
							<div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Ingrese su CURP"><i class="far fa-question-circle"></i></span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 text-center mb-1">
							<button type="submit"  id="btn-inicia" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 text-center mb-1">
							<a href="/views/registro" type="button" class="btn btn-info btn-block"><i class="fas fa-plus-circle"></i> Registrarse</a>
						</div>
					</div>
				</div>
			</div>
            <div class="alert alert-danger mt-3" role="alert" id="msg" style="display:none;">
			  Número de empleado y/o CURP <span class="alert-link"> incorrectos </span>. Intentelo nuevamente.
			</div>
		</div>
	</form>
</div>
<div style="height: 73px;"></div>
<script type="text/javascript" src="../public/js/login.js"></script>
{{> footer }}