{{> header  usuario='user' }}
<h1 class="mt-4 mr-3 ml-3 mb-4" style="color:#003653;">Actualización de contraseña</h1>
<div class="container">
	<form id="formPassword" method="POST"  enctype="multipart/form-data">
		<div class="row justify-content-center">
			<div class="card" style="width: 50rem;">
				<div class="card-header" style="font-weight: bold;">Ingrese los datos</div>
				<div class="card-body">
					<div class="col-12 ">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text maxInput">Contraseña actual</span>
							</div>
							<input type="password" name="actual"  id="actual" value="" class="form-control" minlength="1" maxlength="100" required>
							<div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip"  data-placement="bottom" title="Ingrese su actual contraseña."><i class="far fa-question-circle"></i></span>
							</div>
						</div>
					</div>
					<div class="col-12 ">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text maxInput">Contraseña nueva</span>
							</div>
							<input type="password" name="nueva"  id="nueva" class="form-control" minlength="1" maxlength="100" required>
							<div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip"  data-placement="bottom" title="Ingrese su nueva contraseña."><i class="far fa-question-circle"></i></span>
							</div>
						</div>
					</div>
					<div class="col-12 ">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text maxInput">Confirme contraseña</span>
							</div>
							<input type="password" name="confirmacion"  id="confirmacion" class="form-control" minlength="1" maxlength="20" required>
							<div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Ingrese la contraseña del paso anterior"><i class="far fa-question-circle"></i></span>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-6 text-center">
							<button type="submit" class="btn btn-success btn-sm btn-block"><i class="fas fa-key"></i> Actualizar contraseña</button>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</form>
</div>
<script type="text/javascript" src="../public/js/password.js"></script>
{{> footer }}