{{> header }}
<h1 class="mt-4 mr-3 ml-3 mb-4" style="color:#003653;">Historial de servicios</h1>
<div class="row" >
		<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover">
					<thead class="thead-dark  text-white text-center">
						<tr>
							<th width="10%" style="vertical-align:middle;" scope="col">Folio</th>
							<th width="30%" style="vertical-align:middle;" scope="col">Nombre</th>
							<th width="20%" style="vertical-align:middle;" scope="col">Área</th>
							<th width="20%" style="vertical-align:middle;" scope="col">Fecha de solicitud</th>
							<th width="20%" style="vertical-align:middle;" scope="col">Opciones</th>					
						</tr>
					</thead>
					<tbody id="body-historial" style="background:white;">
					</tbody>					
				</table>
			</div>
		</div>		
	</div>
    <div style="35px;"></div>
    <script type="text/javascript" src="../public/js/historialSolicitudes.js"></script>	
    {{> footer }}